.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: goldenrod;
  padding: 10px;
  gap: 10px;
}
.container div {
  background-color: #000000;
  color: #f4ebeb;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}